@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F1115;
  --primary-bg: #0F1115;
  --card-surface: #161A21;
  --subtle-border: #222833;
  --primary-text: #E6EAF0;
  --secondary-text: #9AA4B2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-bg: var(--primary-bg);
  --color-card-surface: var(--card-surface);
  --color-subtle-border: var(--subtle-border);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1115;
    --foreground: #E6EAF0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
